<div class="row gx-5 position-relative">
    {% for trick in tricks %}
        {% set defaultImage = trick.images is empty %}

        <div class="col-lg-3 mb-5">
            <div class="card h-100  shadow border-0">
                <img class="card-tricks card-img-bottom"
                     src="{{ defaultImage ? imagesUrl ~ "default.png" : imagesUrl ~ trick.slug ~ "/" ~ trick.images|first.fileName }}"
                     alt="..."/>
                <div class="card-body p-4">
                    <a class="text-decoration-none link-dark stretched-link"
                       href="{{ path('app_trick', {'slug': trick.slug}) }}"><h5
                                class="card-title mb-3">{{ trick.name }}</h5>
                    </a>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    <div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="small">
                                <div class="text-muted">Publiée le: {{ trick.createdAt|date('d/m/Y H:i') }}</div>
                            </div>
                            {% if app.user %}
                                {% if app.user.id == trick.user.id or is_granted('ROLE_ADMIN') %}
                                    <div class="d-flex flex-nowrap z-index-100">
                                        <div class="z-index-100 me-2">
                                            <a class="btn btn-outline-warning mb-3 text-center"
                                               href="{{ path('app_trick_edit', {'slug': trick.slug}) }}"
                                            >
                                                <i class="bi bi-pen"></i>

                                            </a>
                                        </div>
                                        <div class="z-index-100">
                                            <a class="btn btn-outline-danger mb-3 text-center"
                                               href="{{ path('app_trick_delete', {'slug': trick.slug}) }}"
                                               onclick="return confirmationDelete(event,'Vous voulez vraiment supprimer ce trick ?');"
                                            >
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="">
        <a id="load-more">
            <div>
                <button class="btn btn-outline-primary btn-block mb-3 text-center"
                        hx-get="{{ path('app_load_more_ticks', { offset: offset  }) }}"
                        hx-swap="outerHTML"
                >
                    Vour voir plus de tricks
                </button>
            </div>
        </a>
    </div>
</div>
{% block javascripts %}
    <script>
        function confirmationDelete(ev, message) {
            ev.preventDefault();
            let urlToRedirect = ev.currentTarget.getAttribute('href'); //use currentTarget because the click may be on the nested i tag and not a tag causing the href to be empty
            console.log(urlToRedirect);
            swal({
                title: "Attention !!",
                text: message,
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",
                        });
                        window.location = urlToRedirect;
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        }
    </script>
{% endblock %}
<!-- End -->

