{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    {% set defaultImage = trick.images is empty %}
    <section class="py-5 position-relative">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-12">
                    <article>
                        <header class="mb-4">
                            <h1 class="fw-bolder mb-1 text-centerr">{{ trick.name }}</h1>
                            <div class="text-muted fst-italic mb-2">
                                Créé le: {{ trick.createdAt|date('d/m/Y H:i') }} </div>
                            {% if trick.updatedAt %}
                                <div class="text-muted fst-italic mb-2">Modifié
                                    le {{ trick.updatedAt|date('d/m/Y H:i') }} </div>
                            {% endif %}
                            <a class="badge bg-info text-decoration-none link-light">Groupe: {{ trick.category.name }} </a>

                        </header>
                        <figure class="mb-4 me-3 d-flex">
                            <img class="img-fluid rounded card-trick-show"
                                    {# src="{{ asset('uploads/tricks') }}/{{ trick.images|first.filename }}" #}
                                 src="{{ defaultImage ? imagesUrl ~ "default.png" : imagesUrl ~ trick.slug ~ "/" ~ trick.images|first.fileName }}"
                                 alt="image de trick {{ trick.name|raw }}"/>
                        </figure>

                        <div class="d-flex overflow-auto mb-5">
                            {% for pic in trick.images |sort %}
                                <div class="col-lg-3 ">
                                    <figure class="mb-4 me-3 d-flex">
                                        <img class="img-fluid rounded card-img-bottom card-tricks "
                                             src="{{ imagesUrl ~ trick.slug ~ "/" ~ pic.fileName }}"
                                             alt="image de trick {{ trick.name }}"/>
                                    </figure>
                                </div>
                            {% endfor %}
                            {% for video in trick.videos %}
                                <iframe class="me-3 d-flex " src="{{ video.filename }}?autoplay=0"></iframe>
                            {% endfor %}
                        </div>
                        {% if app.user %}
                            {% if app.user.id == trick.user.id or is_granted('ROLE_ADMIN') %}

                                <div class="show-btn ">
                                    <a class="btn btn-outline-info btn-block mb-3 me-2 text-center"
                                       href="{{ path('app_trick_edit', {'slug': trick.slug}) }}">
                                        <i class="bi bi-pencil fs-3"></i>
                                    </a>
                                    <a class="btn btn-outline-danger btn-block mb-3 text-center"
                                       href="{{ path('app_trick_delete', {'slug': trick.slug}) }}"
                                       onclick="return confirmationDelete(event,'Vous voulez vraiment supprimer ce trick ?');"
                                    >
                                        <i class="bi colored bi-trash-fill fs-3"></i>
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                        <hr>
                        <div class="mb-5">
                            <p class="fs-5 mb-4 text-center">{{ trick.description }}.</p>
                        </div>
                        <hr>
                    </article>

                    <!-- Comments section-->
                    <section>
                        {% if app.user.username is defined %}
                            <div class="card bg-light">
                                <div class="card-body">
                                    <!-- Comment form-->
                                    {{ form_start(form) }}

                                    {#                                    {% for message in app.flashes('success') %} #}
                                    {#                                        <div class="alert alert-success"> {{ message }} </div> #}
                                    {#                                    {% endfor %} #}

                                    {{ form_end(form) }}
                                </div>
                            </div>
                        {% endif %}
                    </section>
                    <section>
                        <div id="trick-comment-index" class="mt-4 card bg-light">
                            {% include 'trick/_comments.html.twig' %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {#    <script src="{{ asset('js/edit_trick.js') }}" defer></script> #}
    <script>
        function confirmationDelete(ev, message) {
            ev.preventDefault();
            let urlToRedirect = ev.currentTarget.getAttribute('href'); //use currentTarget because the click may be on the nested i tag and not a tag causing the href to be empty
            console.log(urlToRedirect);
            swal({
                title: "Attention !!",
                text: message,
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",
                        });
                        window.location = urlToRedirect;
                    } else {
                        swal("Votre trick est sûr !");
                    }
                });
        }
    </script>
{% endblock %}

